/* ================ Achive ============== */
.achievement{
    background-color: var(--primary-color);
    padding: 80px 0;
}
.achievement .row{
    align-items: center;
}
.achievement .col-3{
    border-left: 1px solid var(--white-color);
}
.achievement .col-3:first-child{
    border: none;
}
.appoint .ppl{
    display: flex;
}
.appoint .ppl div{
    margin-left: -10px;
    margin-bottom: 15px;
}
.appoint .ppl div:first-child{
    margin-left: 0;
}
.appoint .ppl img{
    border-radius: 50%;
    border: 2px solid var(--white-color);
}
.appoint h5{
    color: var(--white-color);
    font-size: 24px;
    font-family: var(--heading-font);
    line-height: 34px;
}
.achiev{
    padding: 0 12px 0 50px;
}
.achiev h2{
    font-size: 48px;
    color: var(--white-color);
    line-height: 65px;
    font-family: var(--heading-font);
}
.achiev h5{
    font-size: 24px;
    color: var(--white-color);
    line-height: 34px;
    font-family: var(--heading-font);
}
